$c-gray: #f7f7f7;
$c-dark-gray: #333;
$c-text-gray: #bdbdbd;
$c-text-dark-gray: #4f4f4f;
$c-gray-text: #7c7c7c;
$c-white: #fff;
$c-color-text: #828282;
$hover-button-color: #131313;
$the-design: 1440px;
$desktop-min-width: 1280px;
$tablet-min-width: 640px;
$mobile-min-width: 320px;
$transition-duration: 0.3s;
$transition-scale: scale(1.2);
$c-link-green: #0db2b3;
$c-background-features: #d6ecec;
$c-subtitle-features: #0c797a;
