.about-us {
  padding-bottom: 110px;

  @include on-tablet {
    padding-bottom: 140px;
  }

  @include on-desktop {
    padding-bottom: 170px;
  }

  &__wrapper {
    @include page-grid;

    padding-bottom: 110px;

    @include on-tablet {
      padding-bottom: 140px;
    }

    @include on-desktop {
      padding-bottom: 170px;
    }
  }

  &__content {
    grid-column: 1 / -1;
    grid-row: 2;
    padding-bottom: 20px;

    @include on-tablet {
      grid-column: 1 / 5;
      grid-row: auto;
      padding-bottom: 0;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include on-tablet {
      display: block;
      width: calc(100% + 34px);
      margin-left: -34px;
      height: 415px;

      object-fit: cover;
    }

    @include on-desktop {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-left: 0;
    }
  }

  &__text {
    display: contents;

    @include on-tablet {
      display: block;
      grid-column: 5 / -1;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__title {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: $c-dark-gray;
    text-transform: uppercase;
    padding-bottom: 30px;

    grid-column: 1 / -1;
    grid-row: 1;

    @include on-tablet {
      font-size: 36px;
      line-height: 46px;
    }

    @include on-desktop {
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__description {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $c-gray-text;
    padding-bottom: 30px;
    grid-column: 1 / -1;
    grid-row: 3;

    @include on-tablet {
      padding-bottom: 50px;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: $c-link-green;
    text-decoration: none;
    text-transform: uppercase;
    grid-column: 1 / -1;
    grid-row: 4;

    &::after {
      content: '';
      position: absolute;
      left: -12px;
      bottom: -8px;
      width: 130px;
      height: 2px;
      background-color: $c-link-green;
      opacity: 0;
      transform: translateX(0) scaleX(0);
      transform-origin: left;
      transition:
        transform $transition-duration,
        opacity $transition-duration;
    }

    &:hover::after {
      opacity: 1;
      transform: translateX(12px) scaleX(1);
    }
  }

  &__wrapper-reverse {
    @include page-grid;
  }

  &__text-reverse {
    grid-column: 1 / -1;
    display: contents;

    @include on-tablet {
      grid-column: 1 / 5;
      display: block;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__title-reverse {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: $c-dark-gray;
    text-transform: uppercase;
    padding-bottom: 30px;

    grid-column: 1 / -1;
    grid-row: 1;

    @include on-tablet {
      font-size: 36px;
      line-height: 46px;
    }

    @include on-desktop {
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__description-reverse {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $c-gray-text;
    padding-bottom: 30px;
    grid-column: 1 / -1;
    grid-row: 3;

    @include on-tablet {
      padding-bottom: 60px;
    }
  }

  &__content-reverse {
    grid-column: 1 / -1;
    grid-row: 2;
    padding-bottom: 30px;

    @include on-tablet {
      grid-column: 5 / -1;
      grid-row: auto;
      padding-bottom: 0;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__image-reverse {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include on-tablet {
      width: calc(100% + 34px);
      margin-right: -34px;
      height: 417px;
      object-fit: cover;
    }

    @include on-desktop {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
