.benefits {
  &__wrapper {
    @include page-grid;

    row-gap: 40px;
    padding-bottom: 110px;

    @include on-desktop {
      display: flex;
      gap: 30px;
    }
  }

  &__card {
    grid-column: 1 / -1;
    transition: transform $transition-duration ease;

    @include on-tablet {
      grid-column: span 4;
      padding-bottom: 64px;
    }

    @include on-desktop {
      width: 100%;
    }

    &:hover {
      transform: translateY(-8px);
    }
  }

  &__icon {
    display: block;
    margin: auto;
    width: 70px;
    height: 50px;
    object-fit: contain;
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 50px;
    }

    @include on-desktop {
      padding-bottom: 34px;
    }
  }

  &__title {
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: $c-dark-gray;

    @include on-tablet {
      padding-bottom: 20px;
    }

    @include on-desktop {
      padding-bottom: 52px;
    }
  }

  &__description {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: $c-gray-text;
  }

  &__title--column {
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $c-dark-gray;
    padding-bottom: 24px;

    @include on-tablet {
      font-size: 20px;
      padding-bottom: 19px;
    }

    @include on-desktop {
      font-size: 22px;
      padding-bottom: 24px;
    }
  }
}
