.footer {
  @include on-tablet {
    padding-bottom: 20px;

   @include on-desktop {
    padding-bottom: 30px;
   }
  }

  &__wrapper {
    @include on-tablet {
      padding-bottom: 60px;
    }


  }


  &__content {
   @include on-tablet {
    display: flex;
      align-items: center;
    }
  }

  &__left {
    display: none;

    @include on-tablet {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  }

  &__right {
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &__logo {
    object-fit: contain;

    @include on-tablet {
      width: 161px;
      height: 26px;
    }



    &:hover {
      transform: $transition-scale;
      transition: $transition-duration;
    }
  }

  &__arrow {
    @include on-tablet {
      width: 50px;
      height: 50px;
    }

    @include on-desktop {
      width: 24px;
      height: 24px;
    }

    &:hover {
      transform: $transition-scale;
      transition: $transition-duration;
    }
  }

  &__social {
    width: 161px;
    display: flex;

    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
    padding-bottom: 30px;

    @include on-tablet {
      gap: 32px;

      padding-bottom: 60px;
    }

    @include on-desktop {
      gap: 40px;

    }
  }

  &__social-link {
    display: block;
    width: 24px;
    height: 24px;

    &:hover {
      transform: $transition-scale;
      transition: $transition-duration;
      opacity: 0.6;
    }
  }

  &__copyright {
    text-align: center;
  }

  &__copyright-text {
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: $c-text-gray;

    @include on-tablet {
      font-size: 14px;
      font-weight: 300;
    }

    @include on-desktop {
      font-weight: 400;
    }
  }
}
